.corpo{
  background-color: rgba(76, 207, 0, 0.781);
}

.titulo{
  font-size: 50px;color: red;background: black;text-align: center;
}

.texto-imc{
  font-size: 50px;
  text-align: center;
}